html {
  height: auto;
  width: 100%;
  box-sizing: border-box;
}

body {
  width: 1300px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

header nav li > a {
  color: white;
  display: flex;
  margin: 0;
  padding: 3px;
  justify-content: center;
  align-items: center;
}

a:hover {
  text-decoration: underline;
}

main {
  position: relative;
  margin: 0;
  width: 100%;
  text-align: center;
  padding: 0;
}

nav {
  display: flex;
  flex-wrap: wrap;
  width: 985px;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* nav * {
  padding: 5px;
} */

/* * {
  border: 1px solid green;
} */
[alt="Apple"] {
  height: 25px;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

header nav ul li {
  border: 1px solid #808080;
  line-height: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-image: linear-gradient(#666, #5e5e5e, #707070, #808080);
  width: 85px;
  justify-content: center;
  align-items: center;
}

ul li:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

[alt="search"] {
  height: 13px;
  width: 14px;
  position: relative;
  left: 1px;
  top: 8px;
  padding: 0;
}

input {
  width: 100px;
  position: relative;
  height: 15px;
  margin-top: 5px;
  margin-left: 3px;
  background-image: linear-gradient(#666, #5e5e5e, #707070, #808080);
  border-style: none;
  background-color: transparent;
}

li a img {
  padding: 0;
}

.footer1 a,
.footer2 a {
  color: #08c;
}

.footer2 a {
  margin: 0;
  padding: 0;
}

header nav li a:hover {
  background-color: black;
  background-image: none;
  text-decoration: none;
}

.footer2 ul li {
  list-style-type: none;
  border-right: 1px solid #ccc;
  margin-left: 5px;
  padding-right: 10px;
}

header nav ul li:hover {
  background-color: rgba(68, 68, 68, 0.822);
}

.lastnav {
  display: flex;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 31px;
  position: relative;
  background-image: linear-gradient(#666, #5e5e5e, #707070, #808080);
  border: 1px solid #808080;
}

.inside {
  display: flex;
  position: relative;
  width: 145px;
  border-radius: 20px;
  border: 1px solid #808080;
}

input:focus {
  background: #fff;
  text-shadow: rgba(0, 0, 0, 0) 0 1px 1px;
  width: 120px;
  transition: color, 0.3s, 0.3s;
  border-radius: 5px;
}

.hero {
  position: relative;
  background-image: url(images/hero.jpg);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 640px;
  top: 0;
  background-size: 1300px 1315px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.in {
  width: 100%;
  padding: 0 0 30px 0;
}

.title3,
.title4 {
  width: 980px;
  background-size: 100%;
}

.title3 {
  background-image: url(images/title3.png);
  position: absolute;
  margin: 0 auto;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  top: 262px;
  cursor: pointer;
}

.title4 {
  background-image: url(images/title4.png);
  visibility: hidden;
  position: relative;
  top: 0;
  cursor: pointer;
}

.title3:hover {
  display: none;
}

.title3:hover + .title4 {
  visibility: visible;
  position: relative;
  top: 0;
  cursor: pointer;
  margin: 0 auto;
  background-position: 100% 100%;
  background-repeat: no-repeat;
}

article {
  width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 307px);
  grid-template-rows: 200px;
  grid-gap: 5px;
}

footer {
  display: flex;
  justify-content: space-evenly;
  font-size: 10px;
  font-family: 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Sans Unicode', Verdana, sans-serif;
  padding: 1em 0 2.6em;
}

.footer1 {
  float: left;
  width: 685px;
  margin-left: 150px;
  padding-top: 1.5em;
  text-align: left;
}

.footer1 p {
  color: #6e6e6e;
}

.footer2 {
  float: left;
  padding-top: 1.5em;
  width: 713px;
  text-align: left;
}

.flag {
  border-style: none;
}
